// Navigation Styles here
#main-nav {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    .flexbox(row, space-between, baseline, center);

    nav {
        margin: 6rem 0 3rem 0;

        a {
            font-size: 1.5rem;
            text-decoration: none;
            padding: 0 1.5rem;
        }
    }
}